.advantages {
  width: auto;
  min-height: 590px;
  background-color: #f3f3f3;
}

.advantages h2 {
  text-align: center;
  padding: 58px 0;
  color: #2e2e2e;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__block {
  display: flex;
  justify-content: space-between;
}

.advantages__block img {
  align-self: flex-start;
}

.advantages__block__descr span {
  color: #ec644b;
  font-family: "Roboto - Bold";
  font-size: 16px;
  font-weight: 700;
}
