.managers {
  background: url("../img/manager-bg.png") center center/cover no-repeat;
  margin-top: 58px;
  min-height: 342px;
}

.managers__icon {
  position: relative;
  width: 102px;
  height: 102px;
  border: 1px solid #ffffff;
  margin: 0 auto;
  top: 58px;
  border-radius: 100%;
}

.managers__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.managers h2 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
}

.managers__descr {
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  margin-top: 18px;
}
