.scheme-of-work {
  height: 454px;
  background-color: #f3f3f3;
}

.scheme-of-work h2 {
  color: #2e2e2e;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 51px;
}

.scheme-of-work__block {
  text-align: center;
}

.scheme-of-work__block__descr {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
